h1{
    color: red;
    
}
.mydiv{
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}
.box{
    height: 200px;
    width: 300px;
    background-color: purple;
    margin: 10px;
    padding: 30px;

}